@import '~antd/dist/antd.css';
#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.site-layout .site-layout-background {
  background: #fff;
}
.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  font-weight: bold;
  margin: 5px 0 10px;
}
.markdown-content h1 {
  font-size: 26px;
}
.markdown-content h2 {
  font-size: 24px;
}
.markdown-content h3 {
  font-size: 22px;
}
.markdown-content h4 {
  font-size: 20px;
}
.markdown-content ol,
.markdown-content ul {
  padding-left: 2em;
  list-style: disc;
}
.markdown-content strong {
  font-weight: bold;
}
.markdown-content em {
  font-style: italic;
}
.markdown-content p {
  margin-bottom: 10px;
}
.markdown-content a {
  color: #4caf50;
}
.markdown-content a:hover {
  color: #81c784;
  text-decoration: underline;
}
.markdown-content pre {
  margin-bottom: 10px;
  font-size: 14px;
}
.markdown-content blockquote {
  margin: 0 0 20px;
  padding: 20px;
  margin-bottom: 25px;
  background-color: #f7f7f7;
  border-left: 6px solid #b4b4b4;
  word-break: break-word !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.markdown-content blockquote p {
  margin: 0;
}
.markdown-content table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-left: none;
  word-break: normal;
}
.markdown-content table th {
  text-align: inherit;
  font-weight: 700;
}
.markdown-content table th,
.markdown-content table td {
  padding: 8px;
  border: 1px solid #ddd;
  line-height: 20px;
  vertical-align: middle;
}
.markdown-content table tr:nth-of-type(even) {
  background-color: rgba(0,0,181,0.1);
}
.markdown-content p code {
  padding: 8px 15px;
  background-color: #f6f6f6;
}
.markdown-content p img {
  margin: 15px 0;
  max-width: 100%;
  border-radius: 5px;
}
.hljs-comment,
.hljs-quote {
  color: #8e908c;
}
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}
.hljs-attribute {
  color: #eab700;
}
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
}
.hljs-title,
.hljs-section {
  color: #4271ae;
}
.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
}
.hljs {
  display: block;
  overflow-x: auto;
  background: #f6f6f6;
  color: #4d4d4c;
  padding: 1em;
  border-radius: 3px;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
